<p style="color: green"><%= notice %></p>
<h1>Cocktails</h1>
<%= search_form_for(
    @search,
    url: search_cocktails_path,
    html: { method: :post }
  ) do |f| %>
  <%= tag.fieldset do %>
    <%= tag.legend 'Sorting' %>
    <%= f.sort_fields do |s| %>
      <%= render 'sort_fields', f: s %>
    <% end %>
    <%= button_to_add_fields(f, :sort) %>
  <% end %>
  <%= tag.fieldset do %>
    <%= tag.legend 'Condition Groups' %>
    <%= f.condition_fields do |c| %>
      <%= render 'condition_fields', f: c %>
    <%end %>
    <%= button_to_add_fields(f, :condition) %>
  <% end %>
  <%= f.submit %>
<% end %>
<div id="cocktails">
  <% @cocktails.each do |cocktail| %>
    <%= render cocktail %>
    <p>
      <%= link_to "Show this cocktail", cocktail %>
    </p>
  <% end %>
</div>
<%= link_to "New cocktail", new_cocktail_path %>
