<p style="color: green"><%= notice %></p>
<h1>Cocktails</h1>
<%= turbo_frame_tag :cocktails do %>
  <%= search_form_for(
    @search,
    url: search_cocktails_path,
    html: { method: :post },
    data: { turbo_frame: :cocktails }
  ) do |f| %>
    <%= tag.fieldset do %>
      <%= tag.legend 'Sorting' %>
      <%= f.sort_fields do |s| %>
        <%= render 'sort_fields', f: s %>
      <% end %>
      <%= button_to_add_fields(f, :sort) %>
    <% end %>
    <%= tag.fieldset do %>
      <%= tag.legend 'Conditions' %>
      <%= f.condition_fields do |c| %>
        <%= render 'condition_fields', f: c %>
      <%end %>
      <%= button_to_add_fields(f, :condition) %>
    <% end %>
    <%= tag.fieldset do %>
      <%= tag.legend 'Actions' %>
      <%= f.submit %>
    <% end %>
  <% end %>
  <% @cocktails.each do |cocktail| %>
    <%= render cocktail %>
    <p>
      <%= link_to "Show this cocktail", cocktail, data: { turbo_frame: '_top' } %>
    </p>
  <% end %>
<% end %>
<%= link_to "New cocktail", new_cocktail_path %>
